{% assign most_popular_product = block.settings.product.metafields.custom.most_popular_monthly.value %}

{% if most_popular_product or request.design_mode %}
  <p>{{ block.settings.message | default: "Most Popular Product!" }}</p>
{% endif %}

{% schema %}
{
  "name": "Most Popular Product",
  "target": "section",
  "settings": [
    { "type": "product", "id": "product", "label": "product", "autofill": true },
    {
      "type": "text",
      "id": "message",
      "label": "Message",
      "default": "Most Popular Product This Month!",
      "info": "Text to display when this product is the most popular this month"
    }
  ]
}
{% endschema %}

